<div class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="regIsClosed">
        <div class="field">
          <label> Full Name </label>
          <input type="text"
                 name="name"
                 ng-model="user.profile.name">
        </div>

        <div class="field">
          <label> Email </label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field" ng-show="autoFilledSchool">
          <label> School </label>
          <input class="ui input"
                 disabled="disabled"
                 ng-show="autoFilledSchool"
                 ng-model="user.profile.school">
        </div>

        <div class="field" ng-show="!autoFilledSchool">
          <label> School </label>
          <input class="ui input"
                 name="school"
                 ng-model="user.profile.school">
        </div>

        <div class="field">
          <label>Graduation Year</label>
          <select
            name="year"
            ng-model="user.profile.graduationYear">
            <option value="">Graduation Year</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
          </select>
        </div>

        <!-- date of birth -->
        <div class="field">
          <label>Date of Birth (MM/DD/YYYY)</label>
          <input type="date" name="dateofbirth" ng-model="user.profile.dateofbirth">
        </div>

        <div class="field">
          <label>Gender</label>
          <select
            name="gender"
            ng-model="user.profile.gender">
            <option value="">Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
            <option value="N">I prefer not to answer.</option>
          </select>
        </div>

        <br>
        <div class="divided title">Resume</div>

        <!-- resume -->
        <div class="field">
          <p>Upload a resume or skill sheet detailing your relevant experience. PDFs are preferred. <strong>Your name and email on the file request must match the one on our system for you to be considered for admission.</strong> If you do not have a resume ready, simply list some experience you may have had in the past and upload that as a PDF, Word file, txt, etc.</p>
          <a class="ui red button" href="https://www.dropbox.com/request/hp4p7ml37iD9OBsOPStp" target="_blank">Upload</a>
          <br>
          <br>
          <div class="ui checkbox">
            <input type="checkbox" id="resume" ng-model="user.profile.resume">
            <label for="resume">I have uploaded a resume, and it matches the name and email address which are used in this application</label>
          </div>
        </div>

        <!-- github username (optional)-->
        <div class="field">
          <label>Github Username (Optional)</label>
          <input type="text" name="github" placeholder="@username" ng-model="user.profile.github">
        </div>

        <div class="field">
          <label>I would describe myself as a...</label>
          <input type="text"
                 placeholder="Designer, Data Scientist, iOS Wizard, Hacker Extraordinaire"
                 ng-model="user.profile.description">
        </div>

          <br>
        <div class="divided title">Code of Conduct</div>
          
        <div class="field">
          <p>You must agree to the MLH Code of Conduct to be eligable for admission. You can find the MLH Code of Conduct <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">here</a>.</p>
          <div class="ui checkbox">
            <input type="checkbox" id="mlh" ng-model="user.profile.mlh">
            <label for="mlh">I agree to the MLH Code of Conduct.</label>
          </div>
        </div>

        <div class="field">
          <p>You must also agree to the Hack the Hill Code of Conduct to be eligable for admission. You can find the Hack the Hill Code of Conduct <a href="https://s3.amazonaws.com/hack-the-hill-assets/hth-coc.pdf" target="_blank">here</a>.</p>
          <div class="ui checkbox">
            <input type="checkbox" id="hthconduct" ng-model="user.profile.hthconduct">
            <label for="hthconduct">I agree to the Hack the Hill Code of Conduct.</label>
          </div>
        </div>

        <br>

        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui black button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
